<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Редактирование группы "{{item.name}}"</h1>
      <ol class="breadcrumb">
        <li>
          <i class="fa fa-table"></i>  Справочники
        </li>
        <li>
          <i class="fa fa-file"></i> <a ui-sref="positionggroups-list"> Список групп позиций</a>
        </li>
        <li class="active">
          <i class="fa fa-file"></i> {{item.name}}
        </li>
      </ol>

      <form role="form" ng-submit="update()">
        <div ng-include="'js/positiongroups/partials/_form.html'"></div>
      </form>
    </div>
  </div>
</div>