<div class="form-group">
  <label class="col-md-2 control-label">Номер документа</label>
  <div class="col-md-2">
    <input class="form-control" placeholder="Номер" ng-model="item.number" >
  </div>
</div>

<div class="form-group">
  <label class="col-md-2 control-label">Создан</label>
  <div class="col-md-2">
    <input class="form-control" disabled value="{{item.createdAt | date: 'HH:mm:ss dd.MM.yy'}}" >
  </div>
</div>

<div class="form-group">
  <label class="col-md-2 control-label">Тип документа</label>
  <div class="col-md-2">
    <select ng-options="doctype.name for doctype in this.available_doctypes track by doctype.id" ng-model="item.documentType"></select>
  </div>
</div>

<div class="form-group">
  <label class="col-md-2 control-label">Подразделение</label>
  <div class="col-md-2">
    <select ng-options="division.name for division in this.available_divisions track by division.id" ng-model="item.division"></select>
  </div>
</div>

<div class="form-group">
  <label class="col-md-2 control-label">Пробег</label>
  <div class="col-md-2">
    <input class="form-control" placeholder="Пробег" ng-model="item.division.mileage" />
  </div>
</div>

<div class="form-group">
  <div class="col-md-offset-2">
  <div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
        <tr>
          <th>Статья</th>
          <th style="width: 5%;">Количество</th>
          <th style="width: 5%;">Ед.Изм.</th>
          <th style="width: 10%;">Цена за шт.</th>
          <th style="width: 10%;">Итого</th>
          <th style="width: 5%;"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="positionDocument in item.positions">

          <td>
            <select ng-options="position.id as position.name for position in this.available_positions" ng-model="positionDocument.position"></select>
          </td>

          <td>
            <input class="form-control" placeholder="Количество" ng-model="positionDocument.piecesCount" ng-change="recountByQuantity(positionDocument)" />
          </td>

          <td>
            <input disabled class="form-control" placeholder="" value="шт." />
          </td>

          <td>
            <input class="form-control" placeholder="Цена за единицу" ng-model="positionDocument.pricePerPiece" ng-change="recountByPiecePrice(positionDocument)"/>
          </td>

          <td>
            <input class="form-control" placeholder="Итого цена" ng-model="positionDocument.price" ng-change="recountByPrice(positionDocument)" />
          </td>

          <td><a class="btn btn-danger" ng-click="delete_position(positionDocument)">Удалить</a></td>
        </tr>
        <tr>
          <td>
            <select ng-options="position.id as position.name for position in this.available_positions | costTypeFilter:item.documentType" ng-model="new_position.positionId"></select>
          </td>
          <td>
            <input class="form-control" placeholder="Количество" ng-model="new_position.piecesCount" ng-change="recountByQuantity(new_position)"/>
          </td>
          <td>
            <input disabled class="form-control" placeholder="" value="шт." />
          </td>
          <td>
            <input class="form-control" placeholder="Цена за единицу" ng-model="new_position.pricePerPiece" ng-change="recountByPiecePrice(new_position)" />
          </td>
          <td>
            <input class="form-control" placeholder="Итого цена" ng-model="new_position.price" ng-change="recountByPrice(new_position)" />
          </td>

          <td><a class="btn btn-success" ng-click="add_position(new_position)">Добавить</a></td>
        </tr>
        </tbody>
    </table>
  </div>
  </div>
</div>

<div class="form-group">
  <div class="col-md-offset-1">
    <input type="submit" class="btn btn-success" value="Сохранить" />
    <a href="#" onclick="javascript:history.back()" type="button" class="btn btn-warning">Отмена</a>
  </div>
</div>