<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%=typeof title == 'undefined' ? 'P-CRM' : title%></title>
    <link rel="icon" href="favicon.png" type="image/png">
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sb-admin.css">
    <!--STYLES END-->
    <link rel="stylesheet" href="/components/isteven-angular-multiselect/isteven-multi-select.css">
    <link rel="stylesheet" href="/components/angular-ui-notification/dist/angular-ui-notification.css">
  </head>

  <body ng-controller="AppController">
    <ui-view></ui-view>
    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <!--SCRIPTS END-->
  <script src='/components/jquery/dist/jquery.js'></script>
  <script src='/components/bootstrap/dist/js/bootstrap.min.js'></script>
  <script src='/components/angular/angular.js'></script>
  <script src='/components/angular-ui-router/release/angular-ui-router.js'></script>
  <script src='/components/angular-resource/angular-resource.js'></script>
  <script src='/components/checklist-model/checklist-model.js'></script>
  <script src='/components/isteven-angular-multiselect/isteven-multi-select.js'></script>
  <script src="/components/angular-ui-notification/dist/angular-ui-notification.js"></script>
  <!--<script src='/components/angular-bootstrap/ui-bootstrap-tpls.js'></script>-->

  <script src="/js/app.js"></script>

  <!--divisions module-->
  <script src="/js/divisions/controller.js"></script>
  <script src="/js/divisions/routes.js"></script>

  <!--division groups module-->
  <script src="/js/divisiongroups/controller.js"> </script>
  <script src="/js/divisiongroups/routes.js"></script>

  <!--core & dependencies-->
  <script src="/js/core/auth/auth.module.js"></script>
  <script src="/js/core/auth/auth.service.js"></script>
  <script src="/js/core/contragent/contragent.module.js"></script>
  <script src="/js/core/contragent/contragent.service.js"></script>
  <script src="/js/core/division/division.module.js"></script>
  <script src="/js/core/division/division.service.js"></script>
  <script src="/js/core/position/module.js"></script>
  <script src="/js/core/position/service.js"></script>
  <script src="/js/core/document/document.module.js"></script>
  <script src="/js/core/document/document.service.js"></script>
    <script src="/js/core/report/module.js"></script>
    <script src="/js/core/report/service.js"></script>
    <script src="/js/core/log/log.module.js"></script>
    <script src="/js/core/log/log.service.js"></script>
    <script src="/js/core/core.module.js"></script>

    <!--document types module-->
  <script src="/js/documenttypes/controller.js"> </script>
  <script src="/js/documenttypes/documenttypes.routes.js"></script>

  <!--document module-->
  <script src="/js/documents/controller.js"> </script>
  <!--<script src="/js/documents/routes.js"></script>-->

  <!--document module-->
  <script src="/js/reports/controller.js"> </script>
  <script src="/js/reports/routes.js"></script>

  <!--positions module-->
  <script src="/js/positions/controller.js"> </script>
  <script src="/js/positions/routes.js"></script>

  <!--position groups module-->
  <script src="/js/positiongroups/controller.js"> </script>
  <script src="/js/positiongroups/routes.js"></script>

  <!--user module-->
  <script src="/js/users/controller.js"> </script>
  <script src="/js/users/routes.js"></script>

  <script src="/js/contragents/controller.js"></script>

  <script src="/js/contragentgroups/controller.js"></script>

  <script src="/js/login/controller.js"></script>

  <script src="/js/logs/controller.js"></script>
  <script src="/js/logs/routes.js"></script>

  </body>
</html>
