<div class="form-group">
  <label class="col-md-2 control-label">Название</label>
  <div class="col-md-1">
    <input class="form-control" placeholder="Название" ng-model="item.name" >
  </div>
</div>

<div class="form-group">
  <label class="col-md-2 control-label">Группа</label>
  <div class="col-md-5">
    <select ng-options="group.name for group in this.groups track by group.id" ng-model="item.group"></select>
  </div>
</div>

<div class="form-group">
  <div class="col-md-offset-1">
    <input type="submit" class="btn btn-success" value="Сохранить" />
    <a href="#" onclick="javascript:history.back()" type="button" class="btn btn-warning">Отмена</a>
  </div>
</div>