<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Новая позиция документа</h1>
      <ol class="breadcrumb">
        <li>
          <i class="fa fa-table"></i>  Справочники
        </li>
        <li>
          <i class="fa fa-file"></i> <a ui-sref="positions-list"> Спиок позиции</a>
        </li>
        <li class="active">
          <i class="fa fa-file"></i> Добавить
        </li>
      </ol>

      <form role="form" ng-submit="add()">
        <div ng-include="'/js/positions/partials/_form.html'"></div>
      </form>
  </div>
</div>
