<div class="form-group">
  <label class="col-md-2 control-label">Название</label>
  <div class="col-md-2">
    <input class="form-control" placeholder="Название" ng-model="item.name" >
  </div>
</div>

<div class="form-group">
  <label class="col-md-2 control-label">Тип операции</label>
  <div class="col-md-2">
    <select ng-options="costType.id as costType.name for costType in this.availableCostTypes" ng-model="item.costType"></select>
  </div>
</div>

<div class="form-group">
  <div class="col-md-offset-1">
    <input type="submit" class="btn btn-success" value="Сохранить" />
    <a href="#" onclick="javascript:history.back()" type="button" class="btn btn-warning">Отмена</a>
  </div>
</div>