<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Новый тип документа "{{item.name}}" </h1>
      <ol class="breadcrumb">
        <li>
          <i class="fa fa-table"></i>  Справочники
        </li>
        <li>
          <i class="fa fa-file"></i> <a ui-sref="documenttypes-list"> Типы документов</a>
        </li>
        <li class="active">
          <i class="fa fa-file"></i> Добавить
        </li>
      </ol>

      <form role="form" class="form-horizontal" ng-submit="add()">
        <div ng-include="'js/divisiongroups/partials/_form.html'"></div>
      </form>
    </div>
  </div>
</div>
