<div class="form-group">
  <label class="col-md-1 control-label">Название</label>
  <div class="col-md-5">
    <input class="form-control" placeholder="Название" ng-model="item.name" >
  </div>
</div>
<div class="form-group">
  <label class="col-md-1 control-label">ИНН</label>
  <div class="col-md-5">
    <input class="form-control" placeholder="ИНН" ng-model="item.inn">
  </div>
</div>

<div class="form-group">
  <label class="col-md-1 control-label">ОГРН</label>
  <div class="col-md-5">
    <input class="form-control" placeholder="ОГРН" ng-model="item.ogrn">
  </div>
</div>

<div class="form-group">
  <label class="col-md-1 control-label">ОКПО</label>
  <div class="col-md-5">
    <input class="form-control" placeholder="ОКПО" ng-model="item.okpo">
  </div>
</div>

<div class="form-group">
  <label class="col-md-1 control-label">Адрес</label>
  <div class="col-md-5">
    <textarea class="form-control" rows="3" ng-attr-placeholder="Адрес" ng-model="item.address"></textarea>
  </div>
</div>

<div class="form-group">
  <label class="col-md-1 control-label">КПП</label>
  <div class="col-md-5">
    <input class="form-control" placeholder="КПП" ng-model="item.kpp">
  </div>
</div>

<div class="form-group">
  <label class="col-md-1 control-label">Телефон</label>
  <div class="col-md-5">
    <input class="form-control" placeholder="Телефон" ng-model="item.phone">
  </div>
</div>

<div class="form-group">
  <label class="col-md-1 control-label">Эл.почта</label>
  <div class="col-md-5">
    <input class="form-control" placeholder="Эл.почта" ng-model="item.email">
  </div>
</div>

<div class="form-group">
  <label class="col-md-1 control-label">Группа</label>
  <div class="col-md-5">
    <select ng-options="group.name for group in this.availableGroups track by group.id" ng-model="item.group"></select>
  </div>
</div>

<div class="form-group">
  <div class="col-md-offset-1">
    <input type="submit" class="btn btn-success" value="Сохранить" />
    <a href="#" onclick="javascript:history.back()" type="button" class="btn btn-warning">Отмена</a>
  </div>
</div>
