<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Контрагенты</h1>
      <ol class="breadcrumb">
        <li>
          <i class="fa fa-table"></i>  <a href="index.html">Справочники</a>
        </li>
        <li class="active">
          <i class="fa fa-file"></i> Контрагенты
        </li>
      </ol>
      <a ui-sref="contragents-new" type="button" class="btn btn-success">Добавить</a>
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
          <tr>
            <th>Название</th>
            <th>ИНН</th>
            <th>ОГРН</th>
            <th>Телефон</th>
            <th>EMail</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="contragent in this.items">
            <td><a ui-sref="contragents-edit({ id: contragent.id })">{{contragent.name}}</a></td>
            <td>{{contragent.inn}}</td>
            <td>{{contragent.ogrn}}</td>
            <td>{{contragent.phone}}</td>
            <td>{{contragent.email}}</td>
            <td><a class="btn btn-danger"  ng-click="delete(contragent)">Удалить</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container-fluid -->
