<div class="form-group">
  <label>Название</label>
  <input class="form-control" placeholder="Название" ng-model="item.name" >
</div>

<div class="form-group">
  <label>Группа(ы)</label>
  <div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
        <tr>
          <th style="width: 50px"></th>
          <th>Название группы</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="group in this.groups">
            <td><input type="checkbox" checklist-model="item.groups" checklist-value="group.id"/></td>
            <td>{{group.name}}</td>
        </tr>
        </tbody>
    </table>
  </div>
</div>

<div class="form-group">
  <input type="submit" class="btn btn-success" value="Сохранить" />
  <a href="#" onclick="javascript:history.back()" type="button" class="btn btn-warning">Отмена</a>
</div>

