<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Подразделения</h1>
      <ol class="breadcrumb">
        <li>
          <i class="fa fa-table"></i>  Справочники
        </li>
        <li>
          <i class="fa fa-file"></i> <a ui-sref="divisions-list"> Подразделения</a>
        </li>
        <li class="active">
          <i class="fa fa-file"></i> {{item.name}}
        </li>
      </ol>

      <form role="form" ng-submit="submit()">
        <div ng-include="'/js/divisions/partials/_form.html'"></div>
      </form>
    </div>
  </div>
</div>
